<mat-card>
    <mat-card-title>Iniciar sesión</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Ingrese su usuario" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Ingrese su contraseña" />
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary">Ingresar</button>
        </form>
    </mat-card-content>
</mat-card>